 <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Cargando Chat...</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image:url(../assets/images/chat-back.png);">
            <div class="login-box card">
                <div class="card-body text-center login">
             
                    <img src="../../../assets/images/logo.ico" class="logo" alt="ChatApp">
                    
                    <h3 class="box-title m-b-20"><strong>ChatApp</strong></h3>
                    <div class="">
                        Aplicación de Chat realizada con fines de demostrar el uso de tecnologías. Ingresá con tu cuenta de Google,
                        tu información está segura. 
                        Al ingresar podés elegir una sala, o bien crear una y comenzar a chatear. Además, vas a poder eliminar toda 
                        tu actividad en la aplicación.
                    </div>

                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20 pt-5">
                            <button *ngIf="!loading" (click)="login()" 
                                    class="btn btn-block btn-lg btn-primary btn-rounded login-button" 
                                    type="submit">
                                    Ingresar al chat
                            </button>
                            <button class="btn btn-block btn-lg btn-primary btn-rounded login-button" disabled *ngIf="loading">
                                <i class="fa fa-spinner fa-spin"></i>
                                Cargando
                            </button>
                        </div>
                    </div>
            
                    <a href="" class="text-black" target="_blank">
                        <small class="hover-violet">Lorenzo Repetto</small>
                    </a>
                    
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/lorenzo-repetto-7ab628180" class="text-black" target="_blank">
                            <i class="fa fa-linkedin-square p-1 hover-violet"></i>
                        </a>
                        <a href="https://github.com/lorenzorepetto" class="text-black" target="_blank">
                            <i class="fa fa-github-square p-1 hover-violet"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->