<div class="chat-left-aside" [ngClass]="{'show-panel': showPanel}">
     
    <!-- PANEL -->
    <div class="open-panel">
      <i class="ti-angle-right" (click)="togglePanel()"></i>
    </div>
     <!--PANEL  -->
    
      <div class="chat-left-inner">
          <div class="form-material">
              <input class="form-control p-20" type="text" placeholder="Buscar Contacto">
          </div>
          <ul class="chatonline style-none" id="divUsuarios">
              <li>
                  <a href="javascript:void(0)" class="active"><span>Usuarios Conectados</span></a>
              </li>
              <li *ngFor="let user of activeUsersObs | async ">
                  <a href="javascript:void(0)">
                      <img [src]="user.picture" alt="user-img" class="img-circle"> 
                      <span>{{ user.name }} 
                          <small *ngIf="user.status === 'ONLINE'" class="text-success">Disponible</small>
                          <small *ngIf="user.status === 'BUSY'" class="text-warning">No disponible</small>
                    </span>
                </a>
              </li>
              <li class="p-20"></li>
          </ul>
      </div>
  </div>