<div class="chat-left-aside" [ngClass]="{'show-panel': showPanel}">
     
    <!-- PANEL -->
    <div class="open-panel" (click)="togglePanel()">
      <i class="ti-angle-right"></i>
    </div>
     <!--PANEL  -->
    
      <div class="chat-left-inner">
          <ul *ngIf="!loading; else loadingUsers" class="chatonline style-none" id="divUsuarios">
              <li>
                  <a href="javascript:void(0)" class="active"><span>Usuarios Conectados</span></a>
              </li>
              <li *ngFor="let user of users">
                  <a href="javascript:void(0)">
                      <img [src]="user.picture" alt="user-img" class="img-circle"> 
                      <span>{{ user.name }} 
                          <small *ngIf="user.status === 'ONLINE'" class="text-success">Disponible</small>
                          <small *ngIf="user.status === 'BUSY'" class="text-warning">Ocupado</small>
                    </span>
                </a>
              </li>              
          </ul>
          <ng-template #loadingUsers>
            <div class="p-3">
              <i class="fa fa-spinner fa-spin"></i>
              Cargando usuarios
            </div>
          </ng-template>
          <div *ngIf="!loading && users.length === 0" class="alert alert-info p-2 m-2" role="alert">
            <i class="fa fa-info-circle mr-2"></i>
            No hay usuarios conectados a esta sala
          </div>
      </div>
  </div>