<div class="chat-right-aside">
    <div class="chat-main-header">
        <div class="p-20 b-b">
            <div *ngIf="loadedUser; else loadingUser">
                <h2>
                    <i class="fa fa-user"></i>
                    {{ user.name }}
                </h2>
                <div class="row mb-0 pb-0" >
                    <div class="col">
                        <h5 *ngIf="user.status === 'ONLINE'" class="text-success pl-3">Disponible</h5>
                        <h5 *ngIf="user.status === 'BUSY'" class="text-warning pl-3">Ocupado</h5>
                    </div>
                    <div class="col">
                        <h6 class="d-inline mr-3">Cambiar estado a: </h6>
                        <button (click)="changeStatus('ONLINE')" *ngIf="user.status === 'BUSY'" class="btn btn-rounded btn-primary">Disponible</button>
                        <button (click)="changeStatus('BUSY')" *ngIf="user.status === 'ONLINE'" class="btn btn-rounded btn-warning">Ocupado</button>
                    </div>
                </div>
            </div>
            <ng-template #loadingUser>
                <h2>
                    <i class="fa fa-spinner fa-spin"></i>
                    Cargando
                </h2>
            </ng-template>
            <div *ngIf="loadedRoom; else loadingRoom">
                <h2 class="box-title p-3">
                    <small>Sala: </small>
                    <span class="badge badge-pill badge-primary ml-2">
                        {{ room.name | titlecase}}
                    </span>
                    <small *ngIf="room.owner" class="ml-2">Creada por {{ room.owner.name }}</small> 
                    
                </h2>
                <div>
                    <h6 class="mb-0">
                        <a data-toggle="collapse" class="title-desc" href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Descripción
                            <i class="fa fa-arrow-down"></i>
                        </a>
                    </h6>
                    <div class="collapse" id="collapseDescription">
                        <div *ngIf="room.description" class="card card-body mb-0 description">
                            {{ room.description }}                            
                        </div>
                        <div *ngIf="!room.description" class="card card-body mb-0 description">
                            Esta sala no tiene descripción
                        </div>
                    </div>    
                </div>
                
            </div>
            <ng-template #loadingRoom>
                <h2>
                    <i class="fa fa-spinner fa-spin"></i>
                    Cargando
                </h2>
            </ng-template>
        </div>
    </div>

    <div class="chat-rbox">
        <ol *ngIf="loadedRoom; else loadingMessages" class="chat-list p-20" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <!--chat Row -->
            <li *ngIf="loadedRoom && messages.length === 0" class="alert alert-info p-2 m-2" role="alert">
                <i class="fa fa-info-circle mr-2"></i>
                Aún no hay mensajes en esta sala
            </li>
            
            <p *ngIf="loadedRoom && total >= 8 && total !== messages.length" (click)="getAll()" class="text-center pointer">
                <i class="fa fa-arrow-up"></i>
                Cargar todos los mensajes ({{ total }})
            </p>
            
            <li *ngFor="let message of messages" [ngClass]="{'reverse': user && user.email === message.user.email}">
                <!-- Otro -->
                <div class="row" *ngIf="message && user.email !== message.user.email">
                    <div class="chat-img"><img *ngIf="message.user.picture" [attr.src]="message.user.picture" [alt]="message.user.name" /></div>
                    <div class="chat-content">
                        <h5>{{ message.user.name }}</h5>
                        <div class="box bg-light-info chat-message">{{ message.text }}</div>
                    </div>
                    <div class="chat-time p-2">{{ message.date | date:'MMM d, h:mm a' }}</div>
                </div>

                <!-- Propio -->
                <div class="row" *ngIf="message && user.email === message.user.email">
                    
                    <div class="col text-left">
                        <div (click)="remove(message)" alt="Eliminar mensaje" class="trash">
                            <i class="fa fa-trash"></i>
                        </div>
                    </div>
                    <div>
                        <div class="chat-content">
                            <h5>{{ user.name }}</h5>
                            <div class="box bg-light-inverse chat-message">{{ message.text }}</div>
                        </div>
                        <div class="chat-img"><img *ngIf="user.picture" [attr.src]="user.picture" [alt]="user.name" /></div>
                        <div class="chat-time p-2">{{ message.date | date:'MMM d, h:mm a' }}</div>
                    </div>
                </div>
            </li>
            <!--chat Row -->
        </ol>
        <ng-template #loadingMessages>
            <i class="fa fa-spinner fa-spin"></i>
            Cargando
        </ng-template>
    </div>
    <div class="card-body b-t">
        <form (ngSubmit)="send()">
            <div class="row">
                <div class="col-8">
                    <input  [disabled]="!user || !room"
                            name="text"
                            [(ngModel)]="text"
                            placeholder="Escribe tu mensaje aquí" 
                            class="form-control b-0"
                            myAutofocus
                            autocomplete="off"
                            maxlength="100">
                    <!-- </textarea> -->
                </div>
                <div class="col-4 text-right">
                    <button *ngIf="!sending" [disabled]="!user || !room" type="submit" class="btn btn-info btn-circle btn-lg">
                        <i class="fa fa-paper-plane-o"></i> 
                    </button>
                    <button *ngIf="sending" class="btn btn-info btn-circle btn-lg">
                        <i class="fa fa-spinner fa-spin"></i> 
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>