<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Just an image -->
    <a class="navbar-brand mr-0" href="#">
      <img src="assets/images/users/1.jpg" alt="user-img" width="40" height="40" class="img-circle">
      <!-- <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" alt=""> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Lorenzo Repetto <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-comments"></i>
            Salas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Sala A (15 conectados)</a>
            <a class="dropdown-item" href="#">Sala B (10 conectados)</a>
            <a class="dropdown-item" href="#">Agregar sala</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-plus"></i>
            Crear Sala
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn bg-light-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
