
.navbar {
   background: #00013a !important;
}

.trash {
   font-size: large;
   padding: 2px;
   color: black;
   cursor: pointer;
}

.dropdown-menu {
   width: 400px;
}
@media(max-width: 767px) {
   .dropdown-menu {
       width: 280px !important;
   }
}

.selected {
   color: #745AF2 !important;
   cursor: default;
}