/* You can add global styles to this file, and also import other style files */

.pointer {
    cursor: pointer;
}
.color-alice {
    color: aliceblue !important;
 }

.icons {
    font-size: xx-large;
}
.hover-violet:hover{
    color: #6300DD;
}